
.L{
    color: black;
    font-weight: 100;
}
.I{
    width: 500px;


}
.T{
 border: 1px solid black; 
 width: 800px;
 height:100px;


 }
 R{
    font-weight: 100;
    text-align: left;
 }

 .H{
text-align: left;


}
.P{
    color: black;
    font-weight: 100;
}
